@import './../../styles/bootstrap/bootstrap-grid';

.book {
    display: grid;
    grid-template-columns: 240px auto;
    grid-gap: 3rem;
    padding: 3rem 0;
}

.filter {
    background:white;
    border: 1px solid #f0efef;
    max-height: 850px;
    h3 {
        font-size: 18px;
        color: var(--theme-primary-color);
        font-weight: 500;
        padding: 1rem;
    }
    &-map {
        margin: 1rem;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../../image/map.png');
        background-size: cover;
    }

    &-head {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #f0efef; 
        h4 {
            font-size: 16px;
            color: var(--theme-primary-color);
            font-weight: 600;
        }
        span {
            cursor: pointer;
            font-size: 16px;
            color: var(--theme-secondary-color);
        }
    }

    &-row {
        display: flex;
        align-items: center;
    }

    &-label {
        font-size: 16px;
    }

    &-start {
        padding: 1rem;
        border-bottom: 1px solid #f0efef;
        h4 {
            font-size: 16px;
            color: var(--theme-primary-color);
            font-weight: 600;
            margin-bottom: 10px;
        }

        .start {
            display: flex;
            i {
                color: var(--theme-secondary-color);
                margin-right: 5px;
                font-size: 16px;
            }
        }
    }
    &-name {
        padding: 1rem;
        border-bottom: 1px solid #f0efef;
        h4 {
            font-size: 16px;
            color: var(--theme-primary-color);
            font-weight: 600;
            margin-bottom: 10px;
        }
        .input {
            background: var(--color-white);
            border: 1px solid #f0efef;
        }
    }
    &-price {
        padding: 1rem;
        border-bottom: 1px solid #f0efef;
        h4 {
            font-size: 16px;
            color: var(--theme-primary-color);
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
    &-services {
        padding: 1rem;
        h4 {
            font-size: 16px;
            color: var(--theme-primary-color);
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
}

.grid-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 375px);
    grid-gap: 3rem;
    @include media-breakpoint-up(xxxlg) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-item {
    background: var(--color-white);
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1);
    transition: all .2s;
    border-radius: 5px;
    overflow: hidden;
}

.book-image {
    overflow: hidden;
    height: 180px;
    img {
        height: 100%;
    }
}

.book-content {
   padding: 1rem;
    h3 {
        font-size: 1.8rem;
        margin-bottom: 5px;
        color: var(--theme-primary-color);
        font-weight: 500;
    }

    .price {
        color: var(--color-gray);
        span {
            color: var(--theme-secondary-color);
        }
    }
    .taxes {
        color: var(--color-gray);
        font-size: 12px;
        margin-bottom: 1rem;
    }

    .unable {
        margin: 1.5rem 0 0;
        text-align: center;
        width: 100%;
        border-top: 1px solid #f0efef;
        padding: 7px 0;
        font-size: 12px;
    }

    .book-actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        .button {
            padding: 1rem;
        }
    }
}

.book-ranking {
    display: flex;
    margin-bottom: 5px;
    i {
        margin-right: .5rem;
        font-size: 16px;
        color: var(--theme-secondary-color);
    }
}

