.text-primary {
    color: var(--theme-primary-color);
}
.text-secondary {
    color: var(--theme-secondary-color);
}

.flex {
   display: flex;
}

.font-medium {
   font-size: 16px !important;
}

.font-large {
   font-size: 18px !important;
}

.font-xlarge {
   font-size: 20px !important;
}

.font-xxlarge {
   font-size: 24px !important;
}

.font-xxxlarge {
   font-size: 26px !important;
}

.font-big {
   font-size: 42px !important;
}