.search {
    position: relative;
}

.search-tabs {
    display: flex;
}

.search-tabs li {
    display: block;
    background: var(--color-white);
    color: var(--color-text);
    font-size: 1.4rem;
    border: 1px solid #f0efef;
    border-bottom: 0;
    border-radius: 2px 2px 0 0;
    padding: 0.3rem 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.search-tabs li.is-active {
    color: white;
    border: 1px solid var(--theme-primary-color);
    background: var(--theme-primary-color);
}

.search-form {
    background: var(--color-white);
    width: 100%;
    padding: 2rem;
    border-radius: 0 5px 5px 5px;
    border: 1px solid #f0efef;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 2fr repeat(3, 1fr);
    transition: all .2s;
}

// Quitar margenes de los input
.search-form .input-group {
    margin-bottom: 0;
}

//Anade margin al button
.search-form .button {
    margin-top: 2.4rem;
    width: 100%;
}