@import './styles/utilities';
@import './styles/bootstrap/bootstrap-grid';

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// Font
@import url(//db.onlinewebfonts.com/c/c5fc2b05949b051c07482453e8e0c1e6?family=Filson+Soft);

:root {
    --theme-primary-color: #00A37C;
    --theme-secondary-color: #FA8220;
    --color-white: #FFFFFF;
    --color-gray: #b9c5d8;
    --color-gray-light: #F0F3F8;
    --color-gray-dark: #a6b1c2;
    --color-text: var(--color-gray);
    --font-size: 10px;
    --input-background: var(--color-gray-light);
    --input-border-radius: 2px;
    --input-font-size: 14px;
    --input-color: var(--color-gray-dark);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size:  var(--font-size);
}
  
body {
    color: var(--color-text);
    background: var(--color-white);
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Filson Soft', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

p {
    font-size: 1.4rem;
}

// Input Theme

.input-group {
    margin-bottom: 1rem;
    position: relative;
}

.input {
    // background: var(--input-background);
    color: var(--input-color);
    border-radius: var(--input-border-radius);
    border: none;
    outline: none;
    width: 100%;
    font-size: var(--input-font-size);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    min-height: 30px;
    border: 2px solid var(--color-gray-light);
    padding: 1rem;
    &::-moz-placeholder {
        color: var(--input-color);
    }
    &::-webkit-input-placeholder {
        color: var(--input-color);
    }
}

.input-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.6rem !important;
    color: var(--input-color);
}

.label {
    font-size: 1.4rem;
    color: var(--theme-primary-color);
    margin-bottom: 0.5rem;
    font-weight: 500;
    display: block;
}

.button {
    display: inline-block;
    color: var(--color-white);
    border-radius: var(--input-border-radius);
    border: none;
    outline: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: var(--input-font-size);
    min-height: 30px;
    max-height: 40px;
    text-align: center;
    cursor: pointer;
    padding: 1.2rem 2rem;
    line-height: 19px;
}

.outline {
    background: transparent !important;
    border: 1px solid;
}

.button-primary {
    background: var(--theme-primary-color);
    &:hover {
        background: #01bd90;
        color: white;
    }
    &.outline {
        border-color: var(--theme-primary-color);
        color: var(--theme-primary-color);
        &:hover {
            background: var(--theme-primary-color) !important;
            color: white;
        }
    }
}

.button-white {
    background: var(--color-white);
    &:hover {
        background: #01bd90;
        color: white;
    }
    &.outline {
        border-color: var(--color-white);
        color: var(--color-white);
        &:hover {
            background: var(--color-white) !important;
            color: #01bd90;
        }
    }
}

.button-secondary {
    background: var(--theme-secondary-color);
    &.outline {
        border-color: var(--theme-secondary-color);
        color: var(--theme-secondary-color);
        &:hover {
            background: var(--theme-secondary-color) !important;
            color: white;
        }
    }
}

.checkbox {
    margin-right: 5px;

    input {
      display: none;
    }
    
    input + label {
      font-size: 20px;
      cursor: pointer;
      padding-left: 28px;
      position: relative;
      width: 20px;
      height: 20px;
      margin-bottom: 0;
    }
    
    label:before {
      content: "";
      top: 1px;
      left: 3px;
      width: 20px;
      height: 20px;
      position: absolute;
      background: white;
      transition: all 0.3s ease;
      box-shadow: inset 0 0 0 2px #E0E0E0;
    }
    
    input:checked + label:before {
      background: var(--theme-primary-color);
      border: 2px solid #E0E0E0;
      box-shadow: inset 0 0 0 3px #fff;
    }
}

.packages-item {
    &:hover {
        .packages-select {
            opacity: 1;
            visibility: visible;
            top: 50px;
        }
    }
}

.destinationsItem_y93bzp:hover img {
    transform: scale(1.1);
}

.destinationsItem_y93bzp:nth-child(4) {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
}

.destinationsItem_y93bzp:nth-child(5) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    img {
        object-position: center right;
    }
}

.newsletter_1xsqh3u {
    .input-group {
        width: 300px;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .input {
        padding: 12px 10px;
    }

    .button {
        position: absolute;
        right: 0;
    }
}