.login {
    background: var(--color-white);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: var(--color-white);
    min-width: 320px;
    padding: 8rem 2rem 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
}

.login-path {
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
}

.login-brand {
    width: 9rem;
    display: block;
    margin: auto;
}

.login-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-gray);
    margin: 1rem 0;
}

.login-options li {
    list-style: none;
    font-size: 1.6rem;
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 0.8rem 0;
}

.login-options li.is-active {
    color: var(--theme-primary-color);
    border-bottom: 3px solid var(--theme-primary-color);
}

.login-form {
    // padding: 1rem 0;
}

.login-actions {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 0 0 2rem;
}

.login-button .button{
    display: block;
    width: 100%;
}

.login-orConnect {
    padding: 1rem 0;
    text-align: center;
    font-size: 1.2rem;
}

.login-social {
    display: flex;
    justify-content: center;
}

.login-social i {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    font-size: 1.4rem;
    color: var(--color-white);
    background: var(--color-text);
    text-align: center;
    line-height: 3rem;
    margin: 0 1rem;
}
